body{
  font-family: Arial, serif;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hello{
  background: #445162;
  padding: 50px 0 50px;
  color: #ffffff;
}

.content{
  flex: 1 1 auto;
}

.container{
  max-width: 1180px;
  margin: 0 auto;
}

.layout-2{
  display: flex;
  justify-content: space-between;
}

.hello__text{
  display: flex;
  flex-direction: column;
}

.hello__title{
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  margin: 0 0 38px 0;
}

.hello__list li{
  background: url("../img/check_icon.png") 0 0 no-repeat;
  font-size: 20px;
  line-height: 22px;
  padding-left: 36px;
  margin: 0 0 15px 0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.hello__list li:last-child {
  margin: 0;
}

.what{
  padding: 50px 0;
}

.what__text{
  padding-left: 38px;
}

.what__title{
  margin: 0 0 33px 0;
  color: #445161;
  font-size: 30px;
  line-height: 36px;
}

.what__info{
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.what__info p{
  margin: 0 0 25px 0;
}

.columns{
  padding: 50px 0;
  background: #f5f5f5;
}

.columns__title{
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  text-align: center;
  margin-bottom: 30px;
}
.column__layout-2{
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item__image{
  flex: 0 0 200px;
  background: #445162;
  height: 150px;
}

.item__info{
  flex: 1 1 auto;
  padding: 0 15px 0 15px;
}

.item__title{
  color: #445161;
  line-height: 30px;
  font-size: 24px;
  margin: 0 0 13px 0;
}

.item__text{
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.vertical{
  padding: 50px 0;
}
.vertical__title{
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.layout-3{
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  gap: 44px;

}

.vertical__item{
  flex: 0 1 33.33%;
  background-color: #445162;
  border-radius: 5px;
  border: 1px solid #445162;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;

}

.vertical__title{
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  padding: 12px 0;
  text-align: center;
}

.vertical__subtitle{
  background-color: #fff;
  text-align: center;
  color: #445162;
  padding: 15px 0;
  font-size: 40px;
}

.vertical__text{
  color:#fff;
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  flex: 1 1 auto;
}

.vertical__text p{
  margin:  0 0 15px 0;
}

.vertical__text p:last-child{
  margin: 0;
}

.vertical__button{
  display: block;
  margin: 0 20px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  font-size: 18px;
  color: #445161;
  line-height: 40px;
}

.footer{
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.footer__text{
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.25px;
}
